@(degreeProgramForm: Form[views.forms.DegreeProgramForm])
@import model.Requirement

@admin("Degree Program Add") {
    <div id="breadcrumbs"><a href="/degree-programs/">Degree Programs</a>
&gt; <a href="">Degree Program Add</a><br>
<br>
<br>
</div>

<script language="JavaScript">
function validate(){
	var name = document.getElementById('name').value;
	
	if (name==null || name==""){
	  alert("Name cannot be blank");
	  return false;
	  }

}
</script>

<div id="content">

  <table border="0">
    <tbody>      
      <form name="degreeProgramForm" action="/degree-programs/add/" method="post" onSubmit="return validate();">
       <tr>
        <td>Name:</td>
        <td colspan="1"><input size="30" name="name" id="name"></td>
        </tr><td></td>
        <td colspan="5">Name of the new Degree Program</td>
      </tr>
      <tr>
      	<td colspan="2">Choose Requirements in Degree Program:<br><br></td>
      </tr>
      @for(r <- Requirement.getAll()){
      <tr>
      	<td></td><td><input name="requirementList[@r.getId()]" value="@r.getId()" type="checkbox">@r.getTitle()</td>
      </tr>
      }
	 <tr>
        <td colspan="3" align="center"><input type="submit"></td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center;"></div>
</form>
</div>



    
    
    
}