@(selectedDegreeForm: Form[views.forms.SelectedDegreeForm])
@import model.DegreeProgram;

@main("Student Degree Selection") {
<div id="breadcrumbs">
	<a href="/">Home</a> > <a href="/student-degree-programs/">Degree Selection</a><br>
</div>
	
<div id="degreeForm">
	Degree Selection
	<form name="selectedDegreeForm" action="/student-degree-programs/" method="post">
	<table>
		<tr>
			<td>Desired Degree:</td>
			<td><select name="degreeId">
					@for(d <- DegreeProgram.getAll()){
						<option value="@d.getId()">@d.getName()</option>
					}
				</select>
			</td>
		</tr>
		<tr>
			<td></td><td>The degree program that you want.</td>
		</tr>
		<tr>
			<td>Year of Entry(Degree Catalog Year):</td>
			<td><input type="text" name="enterYear"></td>
		</tr>
		<tr>
			<td></td><td>The year you entered school.</td>
		</tr>
		<tr>
			<td>Desired Number of Semesters:</td>
			<td><input type="text" name="numberOfSemesters"></td>
		</tr>
		<tr>
			<td></td><td>The number of semesters you want to attend school</td>
		</tr>
		<tr>
			<td colspan="2" align="middle"><input type="submit"></td>
		</tr>
	</form>
</div>
    
    
}