@(requirementForm: Form[views.forms.RequirementForm])
@import model.CourseGroup
@import model.Requirement

@admin("Requirement Add") {
<div id="breadcrumbs">
<a href="/requirements/">Requirements</a>&gt; <a href="">Requirement Add</a><br>
</div>

<script language="JavaScript">
function test(){
if(document.getElementById('simple').checked) {
	document.getElementById('requirement').value = "";
	document.getElementById('requirement').disabled = true;
	document.getElementById('courseNum').disabled = false;
	document.getElementById('courseGroup').disabled = false;

}else if(document.getElementById('complex').checked) {
	document.getElementById('courseNum').disabled = true;
	document.getElementById('courseGroup').disabled = true;
	document.getElementById('courseNum').value = "";
	document.getElementById('requirement').disabled = false;
  
}
}

function validate(){
	var name=document.getElementById('name').value;
	var simple = document.getElementById('simple').checked;	
	var complex = document.getElementById('complex').checked;
	var cg = document.getElementById('courseGroup').value;
	var cn = document.getElementById('courseNum').value;
	var r = document.getElementById('requirement').value;
	
	if (name==null || name==""){
	  alert("Name cannot be blank");
	  return false;
	  }
	
	if(simple && cn=="" && cg ==""){
	 alert("Course Number or Course Group cannot be blank");
	return false;	
	}

	if(complex && r==""){
	 alert("Combination cannot be blank");
	 return false;
	}


}
</script>

<div id="content">
<form name="requirementForm" action="/requirements/add/" method="post" onSubmit="return validate();">
 <table>
 <tr><td valign="top">
  <table border="0" width="700">
    <tbody>
      <tr>
        <td>Name:</td>
        <td colspan="3"><input name="name" colspan="2"></td>
        </tr><td></td>
        <td colspan="5">Name of the new requirement</td>
      </tr>
      <tr>
        <td><input onclick="test();" checked="checked" name="requirementType" id="simple" value="simple" type="radio">Simple</td>
        <td><input type="number" name="fromCourseGroup" id="courseNum"> From</td>
        <td><select name="courseGroup" id="courseGroup">
        @for(c <- CourseGroup.getAll()){
			<option value="@c.getId()">@c.getTitle()</option>
		}
        </select>
        </td>
        </tr><td></td>
        <td colspan="5">Number of courses from coursegroup in requirement ie.: 4 courses from Humanities 100 Level</td>
      </tr>
        <td><input onclick="test();" name="requirementType" value="combination" id="complex" type="radio">Combination</td>
        <td><input name="comboBool" size="30" colspan="2" id="requirement"></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="6" align="center"><input type="submit"></td>
      </tr>
    </tbody>
  </table>
  </td><td>
  <div style="overflow:auto;height:700px;">
  <font color="#C8C8C8" size="2">
  <h3>Requirement Reference</h3>
  <table>
  <tr><td>Abbreviation</td><td>Title</td></tr>
  @for(c <- Requirement.getAllVisible()){
		<tr>
			<td>@c.toString()</td>
			<td>@c.getTitle()</td>
		</tr>
	}
	</table>
	</font>
	</div>
</td></tr></table>		
  <div style="text-align: center;"></div>
</form>
</div>
</body>
</html>

    
    
    
}