@import model.CourseGroup 

@admin("Course Group List") {
<script>
function disp_confirm(id)
{
	var r=confirm("Do you want to continue and delete this?" )
	if (r==true)
 	 {
		  $.ajax({
                url: '/course-groups/'+id,
                type: 'DELETE',
                success: function(result) {
                	location.reload(true);
                }
            });
 	 }
	else
	  {
	  }
}
function disp_confirm_edit(id)
{
  var myForm = document.createElement("form");
  myForm.method="GET" ;
  myForm.action = "/course-groups/edit-course-group-page/" + id;
  document.body.appendChild(myForm) ;
  myForm.submit() ;
  document.body.removeChild(myForm) ;
}
</script>
<div id="breadcrumbs">
<a href="">Course
Groups</a><br>
</div>
<div id="content">
<div id="courseList">
<h2>Course Groups:</h2>
<a href="/course-groups/addCourseGroupPage/">Add New Course Group</a><br>
<br>
<table border="1">
  <tbody>
    <tr>
    	<td>Edit</td>
    	<td>Delete</td>
      	<td>Abbreviation</td>
      	<td>Title</td>
    </tr>
@for(c <- CourseGroup.getAllVisible()){
    <tr>
    	<td><input type="button" onclick="disp_confirm_edit(@c.getId())" value="Edit"></td>
    	<td><input type="button" onclick="disp_confirm(@c.getId())" value="Delete"></td>
        <td>@c.getAbbreviation()</td>
        <td>@c.getTitle()</td>
    </tr>
}
  </tbody>
</table>
</div>
</div>




}